{% extends 'header1.html' %}
{% block content %}
    <!--//main-content-->
    <!---->
 
    <!---->
    <!--// mian-content -->
    <!-- banner -->
<style>
    .col-aligncenter{float: none;margin: 0 auto;}
</style>
    <section class="ab-info-main py-5">
        <div class="container py-3">
            <h3 class="tittle text-center"><span class="sub-tittle"></span> BOOKING STATUS</h3>
            <div class="row contact-main-info mt-5">
                <div class="col-md-6 col-aligncenter contact-right-content" >
                     <table class="table">
                            <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>DressName</th>
                                  <th>total</th>
                                  <th>Status</th>
                                  <th>Cancel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in query %}
                                <tr>
                                  <td style="display:none"></td>
                                  <th scope="row">{{forloop.counter}}</th>
                                  <td>{{x.dressname}}</td>
                                  <td>{{x.total}}</td>
                                  <td>{{x.status1}}</td>
                                  <td>
                                    <form method="post" action="/cancel/">
                                      {% csrf_token %}
                                      <input type="hidden" value="{{x.id}}" name="userid">
                                      <input type="hidden" value="{{x.dressname}}" name="dressname">
                                      <input type="submit" style="background-color: black; color:white;width:100px" value="Cancel">
                                    </form>
                                  </td>
                                </tr>
                                {% endfor %}
                              
                                
                            </tbody>
                        </table>
                </div>
          <!--       <div class="col-md-6 contact-left-content">
                   <p><span class="fa fa-quote-left"></span> “When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence. <span class="fa fa-quote-right"></span></p>
                </div> -->
            </div>
        </div>
    </section>


    <!-- //contact -->
{% endblock %}
